<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>Physics.DataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadObject</servlet-name>
        <servlet-class>Physics.UploadObject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddObject</servlet-name>
        <servlet-class>Physics.AddObject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/DataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadObject</servlet-name>
        <url-pattern>/UploadObject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddObject</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
